/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #d3b4a3;
  --secondary-color: #714b3e;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
}

p {
  font-family: var(--default-font);
  font-weight: lighter;
}

hr {
  width: 80px;
  background: var(--secondary-color);
  height: 6px;
  border: none;
}

.announcement-bar {
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 0.5px;
}

.homepage-intro {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.container-fluid {
  font-family: var(--default-font);
  font-weight: lighter;
  font-size: 12px;
}

.btn-homepage {
  background: var(--secondary-color);
  color: white;
  font-family: var(--default-font);
  font-weight: lighter;
  font-size: 12px;
  line-height: 27px;
  padding: 8px 10px;
  text-decoration: none;
}

.wedding-homepage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.event-homepage {
  max-width: 100%;
  height: auto;
}

.studio-homepage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.service-description {
  padding: 140px 40px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .service-description {
    padding: 0;
  }
}
