/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #d3b4a3;
  --secondary-color: #714b3e;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
}

p {
  font-family: var(--default-font);
  font-weight: lighter;
}

img {
  max-width: 100%;
  height: auto;
}

.hr-homepage {
  width: 80px;
  background: var(--secondary-color);
  height: 6px;
  border: none;
}

.announcement-bar {
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 0.5px;
}

.container-fluid {
  font-family: var(--default-font);
  font-weight: lighter;
  font-size: 12px;
}

.button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: var(--default-font);
  font-weight: lighter;
  font-size: 12px;
  line-height: 27px;
  padding: 10px 25px;
  text-decoration: none;
}

.banner {
  color: #fff;
  padding: 15px;
  background-image: url(/images/banner.jpeg);
  background-size: cover;
}

.wedding-homepage {
  margin-top: 10px;
}

.studio-homepage {
  margin-bottom: 10px;
}

.service-description {
  padding: 140px 40px;
  margin: 0 auto;
}

.about-section h1 {
  text-align: center;
  margin-bottom: 40px;
}

.about-page {
  background-color: var(--primary-color);
}

.about-section {
  background-color: #e6e3db;
  margin: 70px 90px;
  padding: 40px;
}

.about-me-info {
  padding: 140px 40px;
  margin: 0 auto;
}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-gallery {
  flex: 50%;
  max-width: 50%;
  padding: 0 13px;
  margin: 20px 0 20px;
}

.column-gallery img {
  margin-top: 23px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1000px) {
  .service-description {
    padding: 0;
  }

  .about-me-info {
    padding: 0px;
    text-align: center;
  }

  .about-section h1 {
    margin-bottom: 10px;
  }

  .about-section {
    padding: 10px;
  }

   .column-gallery {
    flex: 100%;
    max-width: 100%;
  }
}
